<style>
		.ui-content {
    padding: 5px !important;
    margin: 0 !important;
}
 
.park {
    padding: 0;
    margin: 0;
    list-style: none;    
}
 
.park li {
    float: left;
    width: 50%;
}
 
.park li a {
    display: block;
    margin: 5px;
}
 
.park li a img, .show {
    display: block;
    width: 100%;
    height: auto;
}
 
/* 0 - 480px */
@media all and (min-width: 480px){ 
.park li { width: 33.33333333%; }    
}      
 
/* 481px - 768px */
@media only screen and (min-width: 768px) {    
.park li { width: 20%; }
} 
 
/* 769px - 1024px */
@media only screen and (min-width: 1024px) {    
.park li { width: 16.66666666%; }    
} 
 
/* 1025px - 1280px */
@media only screen and (min-width: 1280px) {    
.park li { width: 14.285714%; }
} 
 
/* 1281px - 1440 */
@media only screen and (min-width: 1440px) {    
.park li { width: 12.5%; }
} 
 
/* 1441px - 1600px */
@media only screen and (min-width: 1600px) {    
.park li { width: 11.111111%; }
} 
 
/* 1601px - 1920px */
@media only screen and (min-width: 1920px) {    
.park li { width: 10%; }
} 
div[role=content] {
    padding: 0;
    position : absolute !important;
    top : 40px !important; 
    right : 0;
    bottom : 40px !important; 
    left : 0 !important;
   
}
	</style>